*{ 
  margin: 0; 
  padding: 0; 
}
  .banner { 
  width: 100%; 
  height: 100vh; 
  background-image: url(WALLPAPER.jpg); 
  background-position: center;
}
a:link
{
  color: #F0F8FF;
  font-weight: bold;
  border-radius: 100px;
  text-align: center;
}
a:active
{
  color: rgb(107, 17, 243);
  background-color: #fdcfb3;
}

    /*Styling the menu */
    .menu
      {
      width: 100%;
      margin: auto;
      padding: 30px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      }
    .menu ul li
      {
      list-style: none;
      display: inline-block; 
      font-size: 18px;
      padding: 9px;
      letter-spacing: 2px;
      background-color: #b16d8eb5;
      font-weight: bolder;
      }
    .menu ul li a
      {
      text-decoration: none;
      color: #faf6f6;
      text-transform: uppercase;
      }
    .menu ul li::after
    {
      content: none;
      height: 3px;
      width: 100%;
      background: #88185b;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .menu ul li:hover
      {
      background-color: #641132;
      transition: 0.5s;
      }
    .menu ul li:active
      {
      color: rgb(69, 4, 159);
      }

      button
      {
      width: 150px;
      padding: 15px 0;
      text-align: center;
      margin: 20px 200px;
      border-radius: 25px;
      font-weight: bold;
      border: 2px solid #88185b;
      background: transparent;
      color: #ff0479;
      cursor: pointer;
      align-items: baseline;
      position: relative;
      overflow: hidden;
      }
      span
      {
        background: #88185b;
        height: 100px;
        width: 0%;
        border-radius: 25px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: 0.5s;
      }
      button:hover span
      {
        width: 100%;
      }
      button:hover
      {
        border: none;  
      }

      .images
      {
        width: 45%;
        height: 80%;
        position: absolute;
        bottom: 0;
        right: 100px;

      }
      .images img
      {
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;

      }
      .images:hover .shape{
        bottom: 40px;
      }

      .images:hover .girl{
        left: 45%;
      }
      /*----------------------------------------Styling the BIODATA---------------------------------- */
     
body
{
  width: 100%; 
  height: 100vh; 
  background-color: #e3d5fd;
  background-position: center; 
}
.biodata{
    letter-spacing: 1px; 
    line-height: 40px; 
    font-size: 24px; 
    margin-top: 300px; 
    text-align:justify;
}
/* Adjusting the width and position of polaroid */
.wrapper 
{
  width: 100%;
  text-align: center;
}
/* Style the polaroid */
.polaroid 
{
  background: #f395a3e4;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.5rem rgba(0,0,0,0.2);
}
/* Adjust the images inside polaroid */
.polaroid > img
{
  max-width: 100%;
  height: auto;
}
/* Adjust the width and transition of polaroids */
.item 
{
  width: 30%;
  display: inline-block;
  margin-top: 0rem;
}
/* Adjust the transform and transition of the polaroids */
.item:nth-of-type(4n+1) 
{
  transform: scale(0.8, 0.8) rotate(2deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) 
{
  transform: scale(0.8, 0.8) rotate(-2deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) 
{
  transform: scale(0.8, 0.8) rotate(2deg);
  transition: all 0.35s;
}
/* Adjust the effects when point the mouse to the polaroids */
.item:hover 
{
  filter: none;
  transform: scale(1, 1) rotate(0deg);
  transition: all 0.35s;
}
.education{
  background-image: url(Wallpaperone.jpg);
  text-align: center;


}
/* Table for biodata */
table, th, td
{
  width: 30%; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 35px;
  border: 1px solid black;
  border-collapse: separate;  
}
.table-responsive{
  width:80%;
  margin-left: auto;
  margin-right: auto
}
th
{
  background-color: #ed909e;
  color: black;
  width: 50%;
  text-align: justify;  
}
th, td  
{
  padding: 10px;
}
td
{
  text-align: center;
  background-color: #dda0cb;   
}
td:hover
{
  background-color: #f9f7e8;
}
/* Side by side images */
.column 
{
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after 
{
  content: "";
  clear: both;
  display: table;
}
.content 
{
  padding: 0 15px;
  display: none;
  overflow: hidden;
}
p
{
  line-height: 1.5;
  font-size: 14px;
  text-indent: 50px ;
  text-align: justify;
}
ul li
{
  font-size: 14px;
  line-height: 1.5;
}
/* Adjust the skills container */
.container 
{
  width: 80%;
  background-color: #cec8e4;
  margin-left: auto; 
  margin-right: auto; 
}
/* Adjust the skills texts */
.skills
{
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  color: black;
  font-weight: bold;
}
/* First skill */
.creativity 
{
  width: 90%; 
  background-color: #fdcfb3;
}
/* Second skill */
.teamwork 
{
  width: 85%; 
  background-color: #fdcfb3;
}
/* Third skill */
.problemsolving 
{
  width: 80%; 
  background-color: #fdcfb3;
}
/* Fourth skill */
.communication 
{
  width: 75%; 
  background-color: #fdcfb3
}
@media screen and (max-width: 900px) 
{
/*Make the polaroid and images look full size in straight line when the screen become smaller*/
.item 
{
  width: 100%;
}
.column 
{
  width: 100%;
}
}
/*----------------------------------------Styling the EDUCATION---------------------------------- */
.body
{
  background-image: url(WALLPAPER.jpg);
}

.education{
  display: inline-block;
  letter-spacing: 1px; 
  line-height: 40px; 
  font-size: 24px; 
  margin-bottom: 300px;
  font-size: 22px;
}

/* Style the ordered list */
ol li
{
  text-align: center;
  font-size: 18px;
  margin: 10px;
  padding: 5 80px;
  
}
/* Style the abbreviations */
abbr
{
  text-transform: uppercase;
}
/* Table */
table, th, td
{      
  border: 2px solid black;
  border-collapse: separate;       
}
th
{
  background-color: #b294c6;
  color: black;
  width: 20%;
  font-weight: bold;
  text-align: center    
}
th, td  
{
  padding: 10px;
}
td
{
  text-align: left;
  background-color: #eb9de4f8;   
}
td:hover
{
  background-color: #f6e5e8;
} 
  